<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alfianhadipratama.sistemparkir">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/app_name" />
        <activity
            android:name=".Customer.CustomerView"
            android:label="@string/app_name" />
        <activity
            android:name=".Customer.Scanner"
            android:label="@string/app_name" />
        <activity
            android:name=".Customer.TambahCustomer"
            android:label="@string/app_name" />
        <activity
            android:name=".Scan.MainScan"
            android:label="@string/app_name" />
        <activity
            android:name=".Scan.ScanKeluar"
            android:label="@string/app_name" />
        <activity
            android:name=".Scan.ScanMasuk"
            android:label="@string/app_name" />
        <activity
            android:name=".Admin.Admin"
            android:label="@string/app_name" />
        <activity
            android:name=".Admin.BuatAdmin"
            android:label="@string/app_name" />
        <activity
            android:name=".Admin.LihatAdmin"
            android:label="@string/app_name" />
        <activity
            android:name=".Admin.UpdateAdmin"
            android:label="@string/app_name" />
        <activity android:name=".Histori" />
        <activity android:name=".LihatHistori" />
    </application>

</manifest>